[submodule "site-lisp/expand-region"]
        path = site-lisp/expand-region
        url = https://github.com/magnars/expand-region.el.git
[submodule "site-lisp/delsel"]
        path = site-lisp/delsel
        url = https://github.com/emacsmirror/delsel.git
[submodule "site-lisp/bash-completion"]
        path = site-lisp/bash-completion
        url = https://github.com/szermatt/emacs-bash-completion.git
[submodule "site-lisp/eproject"]
        path = site-lisp/eproject
        url = https://github.com/jrockway/eproject.git
[submodule "site-lisp/jump-char"]
        path = site-lisp/jump-char
        url = https://github.com/lewang/jump-char.git
[submodule "site-lisp/wgrep"]
        path = site-lisp/wgrep
        url = https://github.com/magnars/Emacs-wgrep
[submodule "site-lisp/s"]
	path = site-lisp/s
	url = https://github.com/magnars/s.el.git
